<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="caster_xacro" params="caster_name xyz">
        <!-- robot imu sensor -->
        <link name="${caster_name}_link">
            <!-- component visual description -->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric description -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>

                <!-- material color -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>        
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric description -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>

                <!-- material color -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>  
                
            </collision>
            <xacro:sphere_inertia m="0.05" r="0.016"/>
        </link>
        
            <!-- robot joint -->
        <joint name="${caster_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${caster_name}_link"/>
            <axis xyz="0.0 1.0 0.0"/>
        </joint>

        
    </xacro:macro>
    

   
</robot>


