<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Demo_robot_sensor">

    <xacro:include filename="$(find demo_robot_description)/urdf/robot/base.urdf.xacro"/>
    <xacro:include filename="$(find demo_robot_description)/urdf/robot/sensor/imu.urdf.xacro"/>
    <xacro:include filename="$(find demo_robot_description)/urdf/robot/sensor/camera.urdf.xacro"/>
    <xacro:include filename="$(find demo_robot_description)/urdf/robot/sensor/laser.urdf.xacro"/>
    <xacro:include filename="$(find demo_robot_description)/urdf/robot/actuator/wheel.urdf.xacro"/>
    <xacro:include filename="$(find demo_robot_description)/urdf/robot/actuator/caster.urdf.xacro"/>
    <xacro:base_xacro length="0.12" radius="0.10"/>
    <xacro:imu_xacro xyz="0.0 0.0 0.02"/>
    <xacro:camera_xacro xyz="0.10 0.0 0.075"/>
    <xacro:laser_xacro xyz="0.0 0.0 0.1"/>

    <xacro:wheel_xacro wheel_name="left_wheel" xyz="0 0.1 -0.06"/>
    <xacro:wheel_xacro wheel_name="right_wheel" xyz="0 -0.1 -0.06"/>
     <xacro:caster_xacro caster_name="caster_wheel_front" xyz="0.08 0 -0.076"/>
     <xacro:caster_xacro caster_name="caster_wheel_back" xyz="-0.08 0 -0.076"/>

</robot>


